<%- include("header.html")%>
<div class="breadcrumbs" >
  <a href="/admin/" >根目录</a>
    <% if (typeof(page)!='undefined' && typeof(page.title )!='undefined') { %> <%= page.title %> / <a href="/admin/<%= page.dir%>" >返回上级</a><%}%>
</div>
<ul id="menu" >
  <li id="browsebt" class="hover" onclick="showtab('browse')" >浏览</li>
  <li id="appendbt"  onclick="showtab('append')" >新增</li>
  <li id="editbt"  onclick="showtab('edit')" >编辑</li>
</ul>
<div id="browse">
  <h2>浏览</h2>
  <% if (names.length) { %>
  <ul>
		<% names.forEach(function(name){ %>
    <li><a href="/admin/<%= name.id%>/" ><%= name.title%></a></li>
    <% }) %>
  </ul>
  <% }
else{%>
  没有子页面! 
<%}%>
</div>
<div id="append" >
  <h2>增加子页面</h2>
  <form method="POST" class="pure-form pure-form-stacked" >
  <div class="pure-control-group">
  	<label>标题</label>
  	<input name="title"  />
  </div>
  <div class="pure-control-group">
	  <label>页面内容（MarkDown）</label>
	  <textarea name="content" rows="10" ></textarea>
  </div>
  <div class="pure-control-group">
	<label>配图</label>
	<input name="snapshot"/> 
  </div>
	<div class="pure-control-group">
		<label>页面名称 url</label>
		<input name="pagename"  />
	</div>
	<div class="pure-control-group">
		<label>SEO:页面Title</label>
		<input name="pagetitle"   />
	</div>
	<div class="pure-control-group">
		<label>SEO:关键词</label>
		<input name="keywords"  />
	</div>
	<div class="pure-control-group">
		<label>SEO:页面描述</label>
		<input name="description"  />
	</div>
	<div class="pure-controls">
    <input type="submit" class="pure-button" />
  </div>
  </form>
</div>
<div id="edit" >
  <% if (typeof(page)!='undefined' && typeof(page.title )!='undefined') { %>
  <h2>编辑页面</h2>
  <form method="POST" class="pure-form pure-form-stacked" >
    <div class="pure-control-group">
      <label>标题</label>
      <input name="id" type="hidden" value="<%= page.id  %>" />
      <input name="title" value="<%= page.title  %>" />
    </div>
		<div class="pure-control-group">
			<label>页面内容</label>
			<textarea name="content" rows="10" ><%= page.content %></textarea>
		</div>
		<div class="pure-control-group">
      <label>配图</label>
      <input name="snapshot" value="<%= page.snapshot%>" />
    </div>
		<div class="pure-control-group">                                        
			<label>页面名称 url</label>
			<input name="pagename" value="<%= page.pagename%>" />
		</div>
		<div class="pure-control-group">
			<label>SEO:页面Title</label>
		  <input name="pagetitle" value="<%= page.pagetitle  %>"   />
		</div>
    <div class="pure-control-group">
      <label>SEO:关键词</label>
      <input name="keywords" value="<%= page.keywords  %>"   />
    </div>
    <div class="pure-control-group">
      <label>SEO:页面描述</label>
      <input name="description" value="<%= page.description  %>"   />
    </div>
    <div class="pure-controls">
      <input type="submit" class="pure-button" />
    </div>
  </form>
  <% }%>
</div>
<%- include("footer.html")%>
