<%- include("header.html")%>
<div id="pwd" >
<form method="POST" class="pure-form pure-form-stacked" >
	<div class="pure-control-group">        
		<label for="name">原密码</label>
		<input type="passwd" name="oldpwd" /> 
	</div>
	<div class="pure-control-group">
    <label>新密码</label>
		<input type="passwd" name="pwd" />
	</div> 
	<div class="pure-control-group">			
		<label>重复新密码</label>        
		<input type="passwd" name="pwd2" />
  </div>
	<div class="pure-controls">     
		<input type="submit" class="pure-button" />
	</div>                                                              
</form>
</div>
<%- include("footer.html")%>
