<html>
	<head>
		<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PEPM CMS</title>                                           <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/pure-min.css" integrity="sha384-CCTZv2q9I9m3UOxRLaJneXrrqKwUNOzZ6NGEUMwHtShDJ+nCoiXJCAgi05KfkLGY" crossorigin="anonymous">
  <link type="text/css" rel="styleSheet"  href="/static/pepm.css" />
  <link href="/static/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
   <meta http-equiv="refresh" content="10">
   <meta http-equiv="refresh" content="5;url=<%= url %>">
  </head>
  <body>
	<div class="body" >
  	<h1><%= msg %></h1>
	</div>
 </body>
</html>
