body{background: #252528;color:#444354;}
.body-wrap{background: #fff;}
.header-wrap{}
.body a,.body a:visited{color:#6d5e91;text-decoration:none;}
a,a:hover{color:#98c;}
.body{margin:auto;background: #fdfdfd;}
.header,.footer{background: #252528;color:#fdfdfd;padding:10px;}
input,textarea{width:100%;}
form{clear:both;max-width: 600px;}
#menu {padding:10px 10px 0;margin:0;background: #b1afb7;}
#menu  li{display: inline-block;padding:5px 10px;margin:0;background: #d1d3db ;border-radius: 5px 5px 0 0;}             #menu  li.hover{background: #fff;}                          #append,#edit{display: none;padding:10px;}
#browse{padding:10px;}
.breadcrumbs{padding:10px;}
.body ul{margin:0;padding:10px 10px 10px 20px;}
h2{color: #6d5e91;padding:5px;font-size: 18px; margin:0;}
#top-menu{background: #444354;}
#top-menu ul{margin:0;padding:0;max-width:900px;margin:auto;}
#top-menu li{display: inline-block;line-height: 50px;}
#top-menu li a{padding:10px;color:#B1AFB7; }
